.Categories {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Link-Cat {
  text-decoration: none;
  color: black;
  font-size: 80px;
  margin: 50px;
}

/* **************************** */

@media screen and (max-width: 1000px) {
  .Link-Cat {
    font-size: 60px;
    margin: 40px;
  }
}
@media screen and (max-width: 768px) {
  .Link-Cat {
    font-size: 50px;
    margin: 30px;
  }
}
