.section-container-close {
  text-align: center;
  cursor: pointer;
}
.section-container-open {
  cursor: pointer;
}
.desSection {
  background-color: aqua;
}
.imgCat {
  width: 20%;
  margin: 20px;
}
